node_modules
assets/.DS_Store
.DS_Store
.expo
assets/images/.DS_Store
.exprc
assets/images/icons/.DS_Store
assets/images/.DS_Store
assets/.DS_Store
.DS_Store
assets/images/.DS_Store
assets/.DS_Store
.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/images/.DS_Store
assets/.DS_Store
.DS_Store
